/* Masthead */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* navbar */
.navbar {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.nav-link {
    position: relative;

}

.logo {
    width: 100px;
    height: 100px;
}

.logoFooter{
    width: 100px;
    height: 100px;
}