/* Masthead */

.title {
    color: rgb(241, 75, 75);
    font-weight: 500;
    text-shadow: 4px 4px 2px lightslategray;
}

.header {
    height: 30vh;;
}

.imgHome{
    width: 80%;
    border-radius: 20px;
}


.imgProgetti{
        margin-top: 100px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
}

/* navbar */
.navbar {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    height: 150px;
    margin-bottom: 50px;
}

.nav-link {
    position: relative;

}

.logo {
    width: 120px;
    height: 120px;
    margin-left: 50px;
}

.dropdown-menu{
    border: 5px solid rgb(241, 75, 75);
}

 /* fine navbar */


.logoFooter{
    width: 100px;
    height: 100px;
}

/* h1{
    color: rgb(241, 75, 75);
    margin-top: 250px;
} */

/* Link del sito */
.link{
    color: rgb(241, 75, 75);
}

/* carosello */

        .swiper {
            width: 50%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .freccia{
            background-color: black;
        }

/* sezione progetti */
.projects {
    width: 100%;
    border-radius: 50%;
    border: 5px solid rgb(241, 75, 75) ;
    padding: 10px;
}


.btn{
    text-decoration: none;
}

/* form contatti */
.formContatti{
    background: rgba(169, 169, 169, 0.66);
    box-shadow: 0 8px 32px 0 rgb(241, 75, 75);
    backdrop-filter: blur(13px);
}

.btnForm{
    background-color: rgba(0, 0, 0, 0.573);
}
